.modal {
  &__backdrop {
    @apply fixed inset-0 grid hidden cursor-pointer place-items-center bg-black/70 p-4 opacity-0 z-modal-backdrop;

    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 100%;
      }
    }

    &--open {
      @apply grid opacity-100;
      animation: fade 175ms linear;
    }
  }

  &__modal {
    @apply relative cursor-default rounded bg-white p-8;
    animation: popup 175ms linear;

    @keyframes popup {
      from {
        transform: scale(90%);
      }
      to {
        transform: scale(100%);
      }
    }

    @screen lg {
      @apply px-28 py-24;
    }
  }

  &__close-button {
    @apply absolute top-2 right-4 transition-[transform,opacity] z-modal-close-button;

    @screen lg {
      @apply top-7 right-14;
    }

    &:hover, &focus {
      @apply scale-110 opacity-80;
    }
  }

  &__close-icon {
    @apply w-4;

    @screen lg {
      @apply w-8;
    }
  }
}
