.hero {
  &__hero {
    @apply mb-20 py-14 bg-primary-600;
  }

  &__container {
    @apply container mx-auto items-center gap-14;

    @screen md {
      @apply grid;
      grid-template-areas: "title  image";
      grid-template-columns: 1fr auto;
    }

    @screen xl {
      @apply grid;
      grid-template-areas: "none  title  image";
      grid-template-columns: 1fr 2fr 1fr;
    }

    @screen 2xl {
      @apply grid;
      grid-template-areas: "none  title  image";
      grid-template-columns: 1fr 3fr 1fr;
    }
  }

  &__image {
    @apply hidden;

    @screen md {
      @apply block;
      grid-area: image;
    }
  }

  &__title {
    @apply text-5xl font-bold text-white;
    grid-area: title;
  }

  &__subtitle {
    @apply mt-2 block text-base font-normal;
  }
}
